.footer {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--red);
  grid-area: footer;
  padding: 1rem 0;
}

.footer-info {
  color: var(--white);
  margin: 0;
}
