.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--red);
}

.footer-info {
  color: var(--white);
  margin: 0;
}
