.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  grid-area: header;
  color: var(--white);
}

.header > * {
  margin: 0;
}

.header-title {
  color: var(--red);
}